@page
@using System.Web
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Mars Rover Task</h1>
</div>


<div class="row text-center" id="divMarsRover">

    @*Rover 1*@
    <div class="col-sm-6">
        <form method="post">
            <h3 class="display-6">First Rover</h3>
            <br />
            <label for="id1">ID</label>
            <br />
            <input asp-for="id" type="text" id="id1" value="1" readonly><br><br>
            @*X*@
            <label for="xStartMR1">Starting X</label>
            <br />
            <input asp-for="X" type="number" id="xStartMR1" value="1" required />
            <br />
            <br />
            @*Y*@
            <label for="yStartMR1">Starting Y</label>
            <br />
            <input asp-for="Y" type="number" id="yStartMR1" value="2" required />
            <br />
            <br />
            @*Direction*@
            <label for="dStartMR1">Starting Direction</label>
            <br />
            <input asp-for="Direction" type="text" id="dStartMR1" value="N" required />
            <br />
            <br />
            @*Movements*@
            <label for="MoveMR1">Movements</label>
            <br />
            <input asp-for="Movements" type="text" id="MoveMR1" value="LMLMLMLMM" />
            <br />
            <br />
            @*Submit*@
            <input type="submit" name="submit" value="Move First Rover C#" />
            <br />
            <label>
                @{
                    @Html.Raw(@IndexModel.Output1)
                }
            </label>
            <br />
            <br />
        </form>
        <button onclick="MoveRover(parseInt(xStartMR1.value), parseInt(yStartMR1.value), dStartMR1.value, MoveMR1.value, 'OutputMR1')">Move First Rover JS</button>
        <br />
        <p>First Rover Output JS<br /><span id="OutputMR1"></span></p>
        <br />
    </div>

    @*Rover 2*@
    <div class="col-sm-6">
        <form method="post">
            <h3 class="display-6">Second Rover</h3>
            <br />
            <label for="id2">ID</label>
            <br />
            <input asp-for="id" type="text" id="id2" value="2" readonly><br><br>
            @*X*@
            <label for="xStartMR2">Starting X</label>
            <br />
            <input asp-for="X" type="number" id="xStartMR2" value="3" required />
            <br />
            <br />
            @*Y*@
            <label for="yStartMR2">Starting Y</label>
            <br />
            <input asp-for="Y" type="number" id="yStartMR2" value="3" required />
            <br />
            <br />
            @*Direction*@
            <label for="dStartMR2">Starting Direction</label>
            <br />
            <input asp-for="Direction" type="text" id="dStartMR2" value="E" required />
            <br />
            <br />
            @*Movements*@
            <label for="MoveMR2">Movements</label>
            <br />
            <input asp-for="Movements" type="text" id="MoveMR2" value="MMRMMRMRRM" />
            <br />
            <br />
            @*Submit*@
            <input type="submit" name="submit" value="Move Second Rover C#" />
            <br />
            <label>
                @{
                    @Html.Raw(@IndexModel.Output2)
                }
            </label>
            <br />
            <br />
        </form>
        <button onclick="MoveRover(parseInt(xStartMR2.value), parseInt(yStartMR2.value), dStartMR2.value, MoveMR2.value, 'OutputMR2')">Move Second Rover JS</button>
        <br />
        <p>Second Rover Output JS<br /><span id="OutputMR2"></span></p>
        <br />
    </div>
</div>
